<div class="displayName">{{department.displayName}}</div>

<ng-container *ngFor="let id of artObjectIds">
    <app-art-object [artObjectd]="id" (addArtObjectEvent)="insertToList($event)"></app-art-object>
</ng-container>

<div class="container-fluid col-md-12">
    <ng-container *ngIf="products.length>0">
        <p-carousel [value]="products" [numVisible]="4" [numScroll]="4" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content">
                        <img [src]="product.primaryImageSmall" [alt]="product.title" width="100" height="100">
                    </div>
                    <h6 class="p-mb-1" (click)="openModal(product)">{{ product.title }}</h6>
                </div>
            </ng-template>
        </p-carousel>
    </ng-container>
</div>

